.bottom-shadow {
  transition: box-shadow 0.1s ease-out;
  box-shadow: rgba(251, 241, 223, 0.3) 0px 1px;

  &:focus-visible {
    box-shadow: rgb(251, 241, 223) 0px 2px
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

