@import "tailwindcss";

:root {
  color-scheme: light dark;
  color: CanvasText;
  background-color: #004300;
}

@theme {
  --color-primary-0: #7ebf7e;
  --color-primary-1: #4f924f;
  --color-primary-2: #004300;
  --color-primary-3: #002000;
  --color-grey: #848484;
  --color-destructive: #9a191b;
  --color-warning: #ffbb00;
  --color-shadow: #81818133;
  --color-disabled-bg: #81818133;
  --color-disabled-text: #545454;
  --color-disabled-border: #7676764d;
}

